
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <!-- <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a> -->
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a (click)="this.router.navigate(['/dashboard'])"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
						<li><a (click)="router.navigate(['/profile']);" ><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Profile</span></a></li>
                        <li><a ><i class="" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a ><i class="" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
						
						<li><a href="#"><i class="" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a (click)="router.navigate(['/home']);"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">SignOut</span></a></li>
                       
					
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                   
                </div>
                <div class="user-dashboard">
                
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 gutter">
                           
                           <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">DOC Number</th>
                                <th scope="col">Plant</th>
                                <th scope="col">Creation Date</th>
                                <th scope="col">Unit Of Measure</th>
                                <th scope="col">Currency</th>
                                <th scope="col">Document Type</th>
                                <th scope="col">Document Status</th>
                                <th scope="col">Item Number</th>
                                <th scope="col">Material</th>
                                <th scope="col">Net Value</th>
                                <th scope="col">Purchase Number</th>
                                <th scope="col">Required Quantity</th>
                                <th scope="col">Sales Organization</th>
                                <!-- <th scope="col">ShipPoint</th>
                                <th scope="col">Storage Location</th> -->

                                <!-- <th scope="col">Last</th>
                                <th scope="col">Handle</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of salesdet"  class="table-success">
                                <!-- <th scope="row">1</th> -->
                                <td>{{item.SD_DOC}}</td>
                                <td>{{item.PLANT}}</td>
                                <td>{{item.CREATION_DATE}}</td>
                                <td>{{item.BASE_UOM}}</td>
                                <td>{{item.CURRENCY}}</td>
                                <td>{{item.DOC_TYPE}}</td>
                                <td>{{item.DOC_STATUS}}</td>
                                <td>{{item.ITM_NUMBER}}</td>
                                <td>{{item.MATERIAL}}</td>
                                <td>{{item.NET_VALUE}}</td>
                                <td>{{item.PURCH_NO}}</td>
                                <td>{{item.REQ_QTY}}</td>
                                <td>{{item.SALES_ORG}}</td>
                                <!-- <td>{{item.SHIP_POINT}}</td>
                                <td>{{item.STORE_LOC}}</td> -->
                               
                              </tr>
                            
                            
                            </tbody>
                          </table>
                         <!-- <div class="row" *ngFor="let item of salesdet">
                            
                             <div class="col">
                                 
                                 {{item.SD_DOC}}
                             </div>
                             <div class="col">
                                {{item.CREATION_DATE}}
                            </div>
                         </div> -->
							
                        </div>
                        
							  
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>

