
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <!-- <a hef="home.html"><img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a> -->
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a (click)="this.router.navigate(['/dashboard'])"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
						<li><a (click)="router.navigate(['/profile']);" ><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Profile</span></a></li>
                        <li><a ><i class="" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a ><i class="" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
						
						<li><a href="#"><i class="" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a (click)="sign()"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">SignOut</span></a></li>
                       
					
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                   
                </div>
                <div class="user-dashboard">
                
 <nav class="navbar navbar-light sea" >
    <div class="container-fluid">
      <a class="navbar-brand">Payment Aging</a>
      <input type="text" class="form-control "  placeholder="Search" [(ngModel)]="searchKey" >
    </div>
  </nav>

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 gutter">
                           
                            <table class="table" style="background-color:white;">
                                <thead>
                                  <tr>
                                    <!-- <th scope="col" (click)="sort('VBELN')">Sales Document&nbsp;<i class="fa fa-sort"></i></th> -->
                                    <th scope="col" (click)="sort('KUNNR')">Sales Document Number&nbsp;<i class="fa fa-sort"></i></th>
                                    <th  scope="col">Customer Number</th>
                                    <th  scope="col"> Account Document Number</th>
                                    <th  scope="col"> Billing Date</th>
                                    <th  scope="col"> Due Date</th>
                                    <th  scope="col">Aging Date</th>
                                    <!-- <th scope="col">Person Name</th>
                                    <th scope="col">Quotation Validity</th>
                                    <th scope="col">Valid TO Date</th>
                                    <th scope="col">Document Date</th>
                                    <th scope="col">Valid From</th>
                                    <th scope="col">Valid To</th>
                                    <th scope="col">Requested Delivery Date</th>
                                    <th scope="col">Completed Delivery </th> -->
                                   
                                  </tr>
                                </thead>
                                <tbody style="border: solid #eee;">
                                    <div class="spinner-border text-success spin" role="status" [hidden]="spinner">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                  <tr *ngFor="let item of sales| filter:searchKey| orderBy:key:reverse |paginate:{itemsPerPage:8,currentPage:p}"  >
                                    <!-- <th scope="row">1</th> -->
                                    
                                    <td >{{item.VBEL2}}</td>
                                    <td  >{{item.KUNNR}}</td>
                                    <td  >{{item.BELNR}}</td>
                                    <td  >{{item.ZFBDT}}</td>
                                    <td  >{{item.MADAT}}</td>
                                    <td  >{{item.PSWSL}}</td>
                                   
                                    <!-- <td>{{item.ERDAT}}</td>
                                    <td>{{item.ERNAM}}</td>
                                    <td>{{item.ANGDT}}</td>
                                    <td>{{item.BNDDT}}</td>
                                    <td>{{item.AUDAT}}</td>
                                    <td>{{item.GUEBG}}</td>
                                    <td>{{item.GUEEN}}</td>
                                    <td>{{item.VDATU}}</td>
                                    <td>{{item.AUTLF}}</td> -->
                                    <!-- <td>{{item.NET_VALUE}}</td>
                                    <td>{{item.PURCH_NO}}</td>
                                    <td>{{item.REQ_QTY}}</td>
                                    <td>{{item.SALES_ORG}}</td> -->
                                    <!-- <td>{{item.SHIP_POINT}}</td>
                                    <td>{{item.STORE_LOC}}</td> -->
                                   
                                  </tr>
                                
                                
                                </tbody>
                              </table>
                              <pagination-controls (pageChange)="p=$event" class="pag"></pagination-controls>
                        </div>

                        
							  
                        </div>
                    </div>
                </div>
            </div>
        </div>


</body>


